export(anyMissing)
export(assertDirectory)
export(assertFile)
export(asssertFun)
export(checkConstant)
export(checkDirectory)
export(checkFile)
export(checkFun)
export(isIntegerish)
export(qassert)
export(qassertr)
export(qcheck)
export(qcheckr)
useDynLib(checkmate,c_any_missing)
useDynLib(checkmate,c_is_constant)
useDynLib(checkmate,c_is_integerish)
useDynLib(checkmate,c_qassert)
useDynLib(checkmate,c_qcheck)
