export(allMissing)
export(anyMissing)
export(asCharacter)
export(asConstant)
export(asCount)
export(asDataFrame)
export(asDirectory)
export(asFile)
export(asFlag)
export(asFun)
export(asInconstantVector)
export(asInteger)
export(asIntegerish)
export(asList)
export(asLogical)
export(asMatrix)
export(asNamed)
export(asNumeric)
export(asString)
export(asVector)
export(assertCharacter)
export(assertClasses)
export(assertConstantVector)
export(assertCount)
export(assertDataFrame)
export(assertDirectory)
export(assertFile)
export(assertFlag)
export(assertFun)
export(assertInconstantVector)
export(assertInteger)
export(assertIntegerish)
export(assertList)
export(assertLogical)
export(assertMatrix)
export(assertNamed)
export(assertNumeric)
export(assertString)
export(assertVector)
export(isCharacter)
export(isClasses)
export(isConstantVector)
export(isCount)
export(isDataFrame)
export(isDirectory)
export(isFALSE)
export(isFile)
export(isFlag)
export(isFun)
export(isInconstantVector)
export(isInteger)
export(isIntegerish)
export(isList)
export(isLogical)
export(isMatrix)
export(isNamed)
export(isNumeric)
export(isString)
export(isVector)
export(qassert)
export(qassertr)
export(qcheck)
export(qcheckr)
useDynLib(checkmate,c_all_missing)
useDynLib(checkmate,c_any_missing)
useDynLib(checkmate,c_is_constant)
useDynLib(checkmate,c_is_integerish)
useDynLib(checkmate,c_qassert)
useDynLib(checkmate,c_qcheck)
useDynLib(checkmate,c_which_first)
useDynLib(checkmate,c_which_last)
